services:
  skymp-master-postgres:
    image: postgres
    environment:
      - POSTGRES_USER=master
      - POSTGRES_PASSWORD="${DB_PASSWORD}"
      - POSTGRES_DB=skymp
    volumes:
      - ./data/postgres:/var/lib/postgresql
    expose:
      - 5432
    ports:
      - 127.0.0.1:5432:5432
    networks:
      - skymp-master-net
  skymp-master-api:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      USE_ARGS: 1
      PORT: 3000
      JWT_SECRET: "${JWT_SECRET}"
      DB_URL: "postgres://$DB_USER:$DB_PASSWORD@skymp-master-postgres:5432/skymp"
      EMAIL_USER: "${EMAIL_USER}"
      EMAIL_PASS: "${EMAIL_PASS}"
      STATS_CSV_PATH: "${STATS_CSV_PATH}"
      S3_AWS_ACCESS_KEY_ID: "${S3_AWS_ACCESS_KEY_ID}"
      S3_AWS_SECRET_ACCESS_KEY: "${S3_AWS_SECRET_ACCESS_KEY}"
      DISCORD_CLIENT_ID: "${DISCORD_CLIENT_ID}"
      DISCORD_CLIENT_SECRET: "${DISCORD_CLIENT_SECRET}"
    volumes:
      - ./data:/data
    ports:
      - 127.0.0.1:3000:3000
    networks:
      - skymp-master-net
    depends_on:
      - skymp-master-postgres

networks:
  skymp-master-net:
    driver: bridge
